.app {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 2rem;
}

.flex-center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.bg-hot {
  background-color: red;
  background-image: linear-gradient(to bottom right, red, orange);
}

.bg-warm {
  background-color: orange;
  background-image: linear-gradient(to bottom right, orange, yellow);
}

.bg-moderate {
  background-color: teal;
  background-image: linear-gradient(to bottom right, yellow, teal);
}

.bg-cool {
  background-color: cyan;
  background-image: linear-gradient(to bottom right, teal, cyan);
}

.bg-cold {
  background-color: dodgerblue;
  background-image: linear-gradient(to bottom right, cyan, dodgerblue);
}

.bg-freezing {
  background-color: powderblue;
  background-image: linear-gradient(to bottom right, dodgerblue, powderblue);
}

.input-search, .input-text {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 2rem;
  min-width: 15rem;
  background-color: #FFF9;
}

.input:focus {
  outline: none;
}